<div class="card p-4 m-4">
  <div class="mb-3">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input 
        type="text" 
        pInputText 
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        placeholder="Filtrar por nombre..." 
        class="w-full"
      />
    </span>
  </div>

  <p-table 
    #pokemonTable
    [value]="pokemons" 
    [lazy]="true" 
    (onLazyLoad)="loadPokemons($event)"
    [paginator]="true" 
    [rows]="rows" 
    [totalRecords]="totalRecords"
    [tableStyle]="{'min-width': '50rem'}"
    styleClass="p-datatable-striped"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th (click)="toggleSort()" style="cursor: pointer;">
          Nombre
          <span class="ml-2">
            <i *ngIf="sortState === 'asc'" class="pi pi-sort-amount-up-alt"></i>
            <i *ngIf="sortState === 'desc'" class="pi pi-sort-amount-down"></i>
            <i *ngIf="sortState === 'none'" class="pi pi-sort-alt"></i>
          </span>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pokemon>
      <tr>
        <td>{{ pokemon.name | titlecase }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="1">No se encontraron Pokémon.</td>
      </tr>
    </ng-template>
  </p-table>
</div>