<div *ngIf="pokemon" class="pokemon-detail-card" [style.--main-color]="pokemonMainColor">
  
  <button 
    pButton 
    icon="pi pi-times" 
    class="p-button-rounded p-button-text close-button" 
    (click)="onClose.emit()">
  </button>
  
  <div class="pokemon-header" [style.background-color]="pokemonMainColor">

    <span *ngIf="isShiny" class="shiny-indicator"></span>

    <span class="pokemon-id-badge">#{{ pokemon.id | number: '3.0-0' }}</span>

    <div class="header-content">
      <p-carousel 
        [value]="images" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="true" 
        [showNavigators]="false"
        [showIndicators]="true" 
        [autoplayInterval]="3000"
        (onPage)="onCarouselPageChange($event)">
        <ng-template let-image pTemplate="item">
          <div class="carousel-image-container">
            <img [src]="image.url" [alt]="pokemon.name" class="pokemon-main-image">
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="pokemon-info-body">
    <h2 class="pokemon-name">{{ capitalize(pokemon.name) }}</h2>

    <div class="pokemon-types mt-2">
      <span *ngFor="let typeInfo of pokemon.types" class="type-tag"
            [style.background-color]="getTypeColor(typeInfo.type.name)">
        {{ capitalize(typeInfo.type.name) }}
      </span>
    </div>

    <div class="pokemon-physical-data mt-3">
      <div class="data-point">
        <span class="value">{{ pokemon.weight / 10 }} kg</span>
        <span class="label">Peso</span>
      </div>
      <div class="separator"></div>
      <div class="data-point">
        <span class="value">{{ pokemon.height / 10 }} m</span>
        <span class="label">Altura</span>
      </div>
    </div>

    <div class="pokemon-stats mt-4">
      <h3 class="stats-title">Estadísticas Base</h3>
      <div *ngFor="let stat of pokemon.stats" class="stat-item">
        <span class="stat-label">{{ formatStatName(stat.stat.name) }}</span>
        <p-progressBar 
          [value]="calculateStatPercentage(stat.base_stat)" 
          [showValue]="false" 
          class="stat-progress-bar"
          [ngStyle]="{'--stat-color': getStatBarColor(stat.stat.name)}">
        </p-progressBar>
        <span class="stat-value">{{ stat.base_stat }}</span>
      </div>
      
      <div class="stat-item mt-3">
        <span class="stat-label">EXP</span>
         <p-progressBar 
          [value]="calculateExpPercentage(pokemon.base_experience)" 
          [showValue]="false" 
          class="stat-progress-bar"
          [ngStyle]="{'--stat-color': 'var(--primary-color)'}">
        </p-progressBar>
        <span class="stat-value">{{ pokemon.base_experience }}</span>
      </div>
    </div>
  </div>
</div>