<div *ngIf="pokemon" class="pokemon-detail-card" [style.--main-color]="pokemonMainColor">
  
  <div class="pokemon-header" [style.background-color]="pokemonMainColor">
    <div class="header-content">
      <p-carousel 
        [value]="images" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="true" 
        [showNavigators]="false"
        [showIndicators]="true" 
        [autoplayInterval]="3000"
      >
        <ng-template let-image pTemplate="item">
          <div class="carousel-image-container">
            <img [src]="image" [alt]="pokemon.name" class="pokemon-main-image">
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="pokemon-info-body">
    <h2 class="pokemon-name">{{ capitalize(pokemon.name) }}</h2>

    <div class="pokemon-types mt-2">
      <span *ngFor="let typeInfo of pokemon.types" class="type-tag"
            [style.background-color]="getTypeColor(typeInfo.type.name)">
        {{ capitalize(typeInfo.type.name) }}
      </span>
    </div>

    <div class="pokemon-physical-data mt-3 grid text-center">
      <div class="col-6">
        <span class="p-text-bold">{{ pokemon.weight / 10 }} KG</span>
        <p class="p-text-secondary text-sm">Peso</p>
      </div>
      <div class="col-6">
        <span class="p-text-bold">{{ pokemon.height / 10 }} M</span>
        <p class="p-text-secondary text-sm">Altura</p>
      </div>
    </div>

    <div class="pokemon-stats mt-4">
      <h3 class="stats-title">Estadísticas Base</h3>
      <div *ngFor="let stat of pokemon.stats" class="stat-item">
        <span class="stat-label">{{ formatStatName(stat.stat.name) }}</span>
        <p-progressBar 
          [value]="calculateStatPercentage(stat.base_stat)" 
          [showValue]="false" 
          class="stat-progress-bar"
          [style]="{'background-color': getStatBarColor(stat.stat.name)}">
        </p-progressBar>
        <span class="stat-value">{{ stat.base_stat }}</span>
      </div>
      
      <div class="stat-item mt-3">
        <span class="stat-label">EXP</span>
        <p-progressBar 
          [value]="calculateExpPercentage(pokemon.base_experience)" 
          [showValue]="false" 
          class="stat-progress-bar"
          [style]="{'background-color': '#4caf50'}">
        </p-progressBar>
        <span class="stat-value">{{ pokemon.base_experience }}</span>
      </div>
    </div>
  </div>
</div>